# Compiled binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Go modules
go.work
go.work.sum
go.sum
go.mod

# IDE & Editor-specific files
.vscode/
.idea/
*.iml

# Logs & Debugging
*.log
logs/
debug.log

# Temporary & Cache files
*.tmp
*.swp
*.swo
*.bak
*.DS_Store
*.vscode/
*.vscode-test/

# Environment files
.env
*.env.local
.envrc

# Database files
data/
*.sqlite3
*.db

# Build artifacts & Dependencies
bin/
obj/
vendor/
node_modules/

# Coverage reports
coverage.*
*.cov
*.cover
*.coverprofile
*.gcda
*.gcno
*.prof

# Kubernetes & Terraform files
*.tfstate
*.tfstate.backup
.terraform/
.kube/
helm/
k8s/

# Docker files
.dockerignore
docker-compose.override.yml
docker-compose.yml

# Secrets & Keys
*.key
*.pem
*.crt
*.cert
config/secrets.yaml

# macOS-specific
.DS_Store
._*
.Spotlight-V100
.Trashes
